@import './components/style.css';
.App  #big-btn{
  margin-right: 250px;
  padding-right: -100px;
  float: right;
  margin-top: -120px;
  background-color:yellow;
  border: 1px solid green;
  padding: 4px ;
  
}
.App .text-a{
  color: red;
  float: right;
  margin-top: -125px;
  padding: 4px;
  margin-right: 220px;
  
}
.App .text-b{
  color: red;
  float: right;
  margin-top: -125px;
  margin-right: 190px;
  padding: 4px ;
}
.App .dropdown{
  float: right;
  margin-right: -150px;
}
body{
  background-color:rgb(126, 122, 122);
}